<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>APP-Group</title>
    
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script>
        var slug = '{{ group.slug }}';
        var socket = new WebSocket("ws://" + window.location.host + "/chat/" + slug);

        socket.onmessage = function (e) {
            var message = JSON.parse(e.data)["message"];
            $("#chat").append("<p>" + message + "</p>");
        };

        function sendMessage() {
            var message = $("#message").val();

            $.ajax({
                url: "/save_message/",
                type: "POST",
                data: {
                    'message': message,
                    'csrfmiddlewaretoken': '{{ csrf_token }}',
                    'group': slug
                },
                success: function(response) {
                    console.log("Resposta:", response);
                },
                error: function(xhr, status, error) {
                    console.log("Erro:", error);
                }
            });

            socket.send(JSON.stringify({"message": message}));
            $("#message").val("");
        }
    </script>
    <style>
        body{
            font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        }

        h1{
            text-align: center;
        }
    </style>
</head>
    <body>
        <h1>{{ group.slug }}</h1>
        <div id="chat"></div>
        <input name="text" id="message"  autofocus>
        <button onclick="sendMessage()">Enviar</button>
    </body>
</html>