<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>APP-Group</title>
    
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script>
        var socket = new WebSocket("ws://" + window.location.host + "/chat/");

        socket.onmessage = function (e) {
            var message = JSON.parse(e.data)["message"];
            $("#chat").append("<p>" + message + "</p>");
        };

        function sendMessage() {
            var message = $("#message").val();
            socket.send(JSON.stringify({"message": message}));
            $("#message").val("");
        }
    </script>
</head>
    <body>
        <div id="chat"></div>
        <input type="text" id="message" autofocus>
        <button onclick="sendMessage()">Enviar</button>
    </body>
</html>