<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>APP-Group</title>
</head>
    <body>
        <h1 style="text-align: center;">GroupLinker</h1>
        {% for group in groups %}
            <div class="group-link">
                <a href="{% url "app_group:group" group.slug %}">{{ group.name }}</a>
            </div>
        {% endfor %}
    </body>
</html>